doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Slot Tegacor 2022')
        meta(name='author', content='33gg Sport')

        title Slot Gacor 33GG Sport

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container.px-5
                a.navbar-brand(href='https://yyz777.com/entry/register/?rc=bet5uf') 33GG Indonesia
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='https://yyz777.com/?rc=bet5uf') Home

        // Page Content
        .container.px-4.px-lg-5

            // Heading Row
            .row.gx-4.gx-lg-5.align-items-center.my-5
                .col-lg-7
                    img.img-fluid.rounded.mb-4.mb-lg-0(src='/img/E26F440D-21B2-4620-B20C-ADECB4070B8C.webp', alt='...')

                .col-lg-5
                    h1.font-weight-light Platform sudah berdiri 19 tahun di Indonesia
                    p
                        | Pelayanan cepat dan terakurat Deposit dan penarikan dalam 5 menit Jadilah anggota sekarang dan dapatkan bonus 50% TO X5 Jika Anda tertarik, silakan hubungi layanan pelanggan kami 
                    a.btn.btn-primary(href='https://yyz777.com/entry/register/?rc=bet5uf') Register 
                    a.btn.btn-primary(href='https://yyz777.com/entry/login') Login 

        // Footer
        footer.py-3.bg-dark
            .container.px-4.px-lg-5
                p.m-0.text-center.text-white Copyright &copy; Your Website 2022

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
